* {
    padding: 0;
    margin: 0;
    outline: none;
    font-family: 'Montserrat', sans-serif;
}

.owl-carousel { margin-left: 0; }

.owl-dots {
    left: 0;
    right: 0;
    bottom: 15px;
    position: absolute; text-align: center;
}